<footer>
  <div class="links-wrapper">
    <p class="copyright">
      &#169; 2021 <br />
    </p>
    <div class="contact">
      <p class="contact-text">
      Contact Us:
      </p>
      <p class="email">
      pawo.cats@gmail.com
      </p>
    </div>
    <div class="credit">
      <p class="credit-text">Credits:</p>
      <p>All cat pictures are from: <a href="https://thecatapi.com/">The Cat API</a></p>
      <p>Collage created using pictures from: <a href="https://pexels.com/">Pexels</a></p>
    </div>
  </div>
</footer>