<footer>
  <div class="links-wrapper">
    <p class="copyright">
      &#169; 2021 <br />
      Proudly Created with Meow
    </p>
    <div class="contact">
      <p class="contact-text">
      Contact Us:
      </p>
      <p class="email">
      pawo.cats@gmail.com
      </p>
    </div>
    <div class="social"></div>
  </div>
</footer>
